@charset "UTF-8"

* {
    box-sizing: border-box;
  }

html, body {
    height: 100%
}

body {
    background-color: hsl(212, 45%, 89%);
    font-family: "Outfit";
    margin: 0;
}

.wrapper {
    display: grid;
    place-content: center;
    height: 100%;
}

.content {
    background-color: white;
    width: 320px;
    height: 450px;
    border-radius: 15px;

}

img {
    width: 290px;
    height: 250px;
    border-radius: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    bottom: 140px;
}

h1 {
    font-size: 22px;
    width: 250px;
    height: auto;
    position: relative;
    top: 270px;
    font-weight: 700px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

p {
    font-size: 15px;
    text-align: center;
    width: 250px;
    height: auto;
    position: relative;
    top: 275px;
    font-weight: 400px;
    color: hsl(220, 15%, 55%);
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (min-width: 900px) {
    .wrapper {
        top: 200px;
    }
}